.ansible
.vscode
.venv
.cursor
.gitignore
*.md
.idea
*.log
__pycache__/
.pytest_cache/
eco-ci-cd-*/
artifacts/
collections/
.github
.projectile
.dir-locals.el
*.key
playbooks/infra/reporting/vars/
playbooks/cnf/reporting
