.idea
*host_vars*
*group_vars*
.vscode
inventory*
*__pycache__*
**/collections
**/.ansible

# emacs config files
.projectile
.dir-locals.el
# ansible-vault keys
*.key

# ansible-builder runtime
artifacts
context
eco-ci-cd-*/requirements-ee.*
podman-build-args.current.txt
